In [1]:
#%load_ext cudf.pandas

### merge 2020 year frame

In [2]:
import os
import pandas as pd

In [3]:
df1 = pd.read_excel('./data3/es/2020_new_base.xlsx')
df2 = pd.read_excel('./data3/es/2020_old_base.xlsx')

In [4]:
df1.columns==df2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [5]:
common_rows = pd.merge(df2, df1, how='inner')
common_rows

Empty DataFrame
Columns: [smeta, distr, code, code_discription, address_raw, cost, full_date, data_short, es_code_int, address_clean, test]
Index: []

In [6]:
df3 = pd.concat([df1, df2],ignore_index=True)
df3

,smeta,distr,code,code_discription,address_raw,cost,full_date,data_short,es_code_int,address_clean,test
0,Хозяйственно-эксплуатационное направление ДГУ,Дальневосточное главное управление Центральног...,134.11,Расходы по оплате потребления электроэнергии,134.1100.010000 Плата за технологическое присо...,32790.96,2020-12-31,12.202,1,"00.010000 г. владивосток ул. калинина,261",владивосток калинина 261
1,Хозяйственно-эксплуатационное направление ДГУ,Дальневосточное главное управление Центральног...,134.11,Расходы по оплате потребления электроэнергии,Оплата за электроэнергию по тарифам зд. Вл-Але...,2274.13,2020-12-31,12.202,1,"ю зд. вл-александровское, ул. седова, 23",александровское седова 23
2,Хозяйственно-эксплуатационное направление ДГУ,Дальневосточное главное управление Центральног...,134.11,Расходы по оплате потребления электроэнергии,Оплата за электроэнергию по тарифам зд. ул.Све...,238482.63,2020-12-31,12.202,1,"ю зд. ул.светланская,111",светланская 111
3,Хозяйственно-эксплуатационное направление ДГУ,Дальневосточное главное управление Центральног...,134.11,Расходы по оплате потребления электроэнергии,Оплата за электроэнергию по тарифам зд. г.Нахо...,614813.95,2020-12-31,12.202,1,"ю зд. г.находка, находкинский пр-т, 13",находка находкинский 13
4,Хозяйственно-эксплуатационное направление ДГУ,Дальневосточное главное управление Центральног...,134.11,Расходы по оплате потребления электроэнергии,Оплата за электроэнергию по тарифам зд. Склад ...,22413.58,2020-12-31,12.202,1,"ю зд. склад ул.фонтанная,19",склад фонтанная 19
...,...,...,...,...,...,...,...,...,...,...,...
2938,Столовая Отделения по Хабаровскому краю Дальне...,Отделение по Хабаровскому краю Дальневосточног...,134.11,"Расходы по оплате услуг водоснабжения, водоотв...","Оплата за холодное водоснабжение по тарифам, у...",226.73,2020-04-14,4.202,3,", ул. муравьева-амурского, 42",амурского 42
2939,Столовая Отделения по Хабаровскому краю Дальне...,Отделение по Хабаровскому краю Дальневосточног...,134.11,"Расходы по оплате услуг водоснабжения, водоотв...","Оплата за холодное водоснабжение по тарифам, у...",87.79,2020-10-08,10.202,3,", ул. муравьева-амурского, 42",амурского 42
2940,Столовая Отделения по Хабаровскому краю Дальне...,Отделение по Хабаровскому краю Дальневосточног...,134.11,"Расходы по оплате услуг водоснабжения, водоотв...","Оплата за холодное водоснабжение по тарифам, у...",186.56,2020-10-13,10.202,3,", ул. муравьева-амурского, 42",амурского 42
2941,Столовая Отделения по Хабаровскому краю Дальне...,Отделение по Хабаровскому краю Дальневосточног...,134.11,"Расходы по оплате услуг водоснабжения, водоотв...","Оплата за холодное водоснабжение по тарифам, у...",175.58,2020-10-11,10.202,3,", ул. муравьева-амурского, 42",амурского 42
2942,Столовая Отделения по Хабаровскому краю Дальне...,Отделение по Хабаровскому краю Дальневосточног...,134.11,"Расходы по оплате услуг водоснабжения, водоотв...","Оплата за холодное водоснабжение по тарифам, у...",129.49,2020-09-12,9.202,3,", ул. муравьева-амурского, 42",амурского 42

In [7]:
df3.to_excel('./data3/es/2020.xlsx', index=False)

### read data

In [8]:
df2018 = pd.read_excel('./data3/es/2018.xlsx')
df2019 = pd.read_excel('./data3/es/2019.xlsx')
df2020 = pd.read_excel('./data3/es/2020.xlsx')
df2021 = pd.read_excel('./data3/es/2021.xlsx')

df2022_23 = pd.read_csv('./data3/predict/test_data.csv')

In [9]:
print(df2018.shape)
print(df2019.shape)
print(df2020.shape)
print(df2021.shape)
print(df2018.shape[0]+df2019.shape[0]+df2020.shape[0]+df2021.shape[0])

(3501, 11)
(3093, 11)
(2943, 11)
(3124, 11)
12661

### Data for training description
Модель будет построена для предсказания значений в следующем году на основе полных данных за предыдущий год

Т.е:

Так как даные TR есть только начиная с 2018 года, решено отказаться от даных ранее 2018.
Тренировочные датасеты строятся следующим образом:

2018 -predict-> 2019

2019 -predict-> 2020

2020 -predict-> 2021

In [10]:
df2022_23_col = df2022_23.columns

In [11]:
df2018.columns

Index(['smeta', 'distr', 'code', 'code_discription', 'address_raw', 'cost',
       'full_date', 'data_short', 'es_code_int', 'address_clean', 'test'],
      dtype='object')

In [12]:
df2022_23.columns = ['code_discription', 'address_raw', 'data_short', 'cost']
df2022_23['test']=None

In [13]:
def check_same_values(col_name):
    print("check column: ", col_name)
    df2022_23_addr = df2022_23[col_name].unique()
    df2021_addr = df2021[col_name].unique()
    df2020_addr = df2020[col_name].unique()
    df2019_addr = df2019[col_name].unique()
    df2018_addr = df2018[col_name].unique()
    print("unique names:")
    print("2022_23: ",len(df2022_23_addr))    
    print("2021: ",len(df2021_addr))
    print("2020: ",len(df2020_addr))
    print("2019: ",len(df2019_addr))
    print("2018: ",len(df2018_addr))
    print("unique names cross")
    print("2018 vs 2019 ",len(list(set(df2018_addr) & set(df2019_addr))))
    print("2019 vs 2020 ",len(list(set(df2019_addr) & set(df2020_addr))))
    print("2020 vs 2021 ",len(list(set(df2020_addr) & set(df2021_addr))))
    print("2022-23 vs 2021 ",len(list(set(df2022_23_addr) & set(df2021_addr))))
    print("2022-23 vs 2020 ",len(list(set(df2022_23_addr) & set(df2020_addr))))
    print("2022-23 vs 2019 ",len(list(set(df2022_23_addr) & set(df2019_addr))))
    print("2022-23 vs 2018 ",len(list(set(df2022_23_addr) & set(df2018_addr))))

In [14]:
check_same_values('code_discription')

check column:  code_discription
unique names:
2022_23:  5
2021:  5
2020:  5
2019:  1
2018:  1
unique names cross
2018 vs 2019  1
2019 vs 2020  0
2020 vs 2021  0
2022-23 vs 2021  1
2022-23 vs 2020  0
2022-23 vs 2019  0
2022-23 vs 2018  0

In [15]:
check_same_values('address_raw')

check column:  address_raw
unique names:
2022_23:  451
2021:  422
2020:  249
2019:  292
2018:  330
unique names cross
2018 vs 2019  271
2019 vs 2020  2
2020 vs 2021  0
2022-23 vs 2021  41
2022-23 vs 2020  0
2022-23 vs 2019  0
2022-23 vs 2018  0

In [16]:
check_same_values('test')

check column:  test
unique names:
2022_23:  1
2021:  97
2020:  73
2019:  85
2018:  101
unique names cross
2018 vs 2019  80
2019 vs 2020  48
2020 vs 2021  28
2022-23 vs 2021  0
2022-23 vs 2020  0
2022-23 vs 2019  0
2022-23 vs 2018  0

In [17]:
df2022_23['code_discription'].unique()

array(['Электроэнергия', 'Отопление', 'Водоснабжение',
       'Коммунальные услуги (расходы прошлых лет)', 'Газ'], dtype=object)

In [18]:
all_es_types = {1:['Электроэнергия','Оплата потребления электроэнергии','Расходы по оплате потребления электроэнергии','Оплата за дизельное топливо','Оплата за электроэнергию по тарифам','Оплата за эектроэнергию по тарифам','Плата за технологическое присоединение к электрическим сетям (в случаях, не связанным со строительством,реконстр. и кап.ремонтом'],
            2:['Отопление','Оплата всех видов отопления зданий и сооружений (кроме электро- и газового снабжения)','Расходы по оплате всех видов отопления зданий и сооружений (кроме электро- и газового снабжения)','Оплата за тепловую энергию по тарифам','Оплата за прочие виды топлиа (уголь, дрова и т.д.)'],
            3:['Водоснабжение','Оплата услуг водоснабжения, водоотведения','Расходы по оплате услуг водоснабжения, водоотведения','Оплата за водоотведение по тарифам','Оплата за горячее водоснабжение по тарифам','Оплата за холодное водоснабжение по тарифам', 'Оплата за холодное водоснабжение  по тарифам','Оплата за горячее  водоснабжение по тарифам','Оплата водоотведения по тарифам'],
            4:['Коммунальные услуги (расходы прошлых лет)','Коммунальные услуги (расходы прошлых лет)','Расходы на коммунальные услуги (расходы прошлых лет)','Другие расходы прошлых лет, выявленные в текущем году.','Другие расходы прошлых лет, выявленные в текущем году.'],
            5:['Газ','Оплата потребления газа','Расходы по оплате потребления газа','Оплата потребления газа по тарифам']}

def get_type_of_es(row):
    values_to_check = row[['code_discription', 'address_raw']]
    for key, values in all_es_types.items():
        if any(value.lower() in ' '.join(values_to_check.values).lower() for value in values):
            return key
    return None

#Usage: df['es_code_int'] = df.apply(get_type_of_es, axis=1)

In [19]:
df2022_23['es_code_int'] = df2022_23.apply(get_type_of_es, axis=1)

In [20]:
df2021['code_discription'].unique()

array(['Оплата потребления электроэнергии',
       'Оплата всех видов отопления зданий и сооружений (кроме электро- и газового снабжения)',
       'Оплата услуг водоснабжения, водоотведения',
       'Коммунальные услуги (расходы прошлых лет)',
       'Оплата потребления газа'], dtype=object)

In [21]:
df2020['code_discription'].unique()

array(['Расходы по оплате потребления электроэнергии',
       'Расходы по оплате всех видов отопления зданий и сооружений (кроме электро- и газового снабжения)',
       'Расходы по оплате услуг водоснабжения, водоотведения',
       'Расходы на коммунальные услуги (расходы прошлых лет)',
       'Расходы по оплате потребления газа'], dtype=object)

In [22]:
for i in df2018['address_raw']:
    if not ('Оплата за водоотведение по тарифам' in i or 'топливо ' in i or 'Оплата за горячее водоснабжение по тарифам' in i or 'Оплата за тепловую энергию по тарифам' in i or 'Оплата за холодное водоснабжение по тарифам'in i or 'Оплата за электроэнергию по тарифам'in i or 'Оплата за холодное водоснабжение  по тарифам' in i or 'Оплата за горячее  водоснабжение по тарифам' in i or 'Оплата за эектроэнергию по тарифам'in i
            or 'Оплата водоотведения по тарифам'in i or 'Другие расходы прошлых лет, выявленные в текущем году.' in i or 'Оплата потребления газа по тарифам'in i or 'Плата за технологическое присоединение к электрическим сетям (в случаях, не связанным со строительством,реконстр. и кап.ремонтом' in i or 'Оплата за прочие виды топлиа (уголь, дрова и т.д.)' in i):
        print(i)

for i in df2019['address_raw']:
    if not ('Оплата за водоотведение по тарифам' in i or 'топливо ' in i or 'Оплата за горячее водоснабжение по тарифам' in i or 'Оплата за тепловую энергию по тарифам' in i or 'Оплата за холодное водоснабжение по тарифам'in i or 'Оплата за электроэнергию по тарифам'in i or 'Оплата за холодное водоснабжение  по тарифам' in i or 'Оплата за горячее  водоснабжение по тарифам' in i or 'Оплата за эектроэнергию по тарифам'in i
            or 'Оплата водоотведения по тарифам'in i or 'Другие расходы прошлых лет, выявленные в текущем году.' in i or 'Оплата потребления газа по тарифам'in i or 'Плата за технологическое присоединение к электрическим сетям (в случаях, не связанным со строительством,реконстр. и кап.ремонтом' in i or 'Оплата за прочие виды топлиа (уголь, дрова и т.д.)' in i):
        print(i)

In [23]:
df2022_23.code_discription.unique()

array(['Электроэнергия', 'Отопление', 'Водоснабжение',
       'Коммунальные услуги (расходы прошлых лет)', 'Газ'], dtype=object)

In [24]:
check_same_values('address_raw')

check column:  address_raw
unique names:
2022_23:  451
2021:  422
2020:  249
2019:  292
2018:  330
unique names cross
2018 vs 2019  271
2019 vs 2020  2
2020 vs 2021  0
2022-23 vs 2021  41
2022-23 vs 2020  0
2022-23 vs 2019  0
2022-23 vs 2018  0

In [25]:
check_same_values('es_code_int')

check column:  es_code_int
unique names:
2022_23:  5
2021:  5
2020:  5
2019:  5
2018:  4
unique names cross
2018 vs 2019  4
2019 vs 2020  5
2020 vs 2021  5
2022-23 vs 2021  5
2022-23 vs 2020  5
2022-23 vs 2019  5
2022-23 vs 2018  4

### prep functions

In [26]:
#append clean addr
import re
def to_lower(listin):
    return [str(element).lower() for element in listin]

citys = pd.read_excel('./extra/np-dvfo.xlsx', header=None)[0].to_list()
streets = pd.read_excel('./extra/names-dvfo.xlsx', header=None)[0].to_list()
numbers = [str(i) for i in range(1, 1000)]
citys = to_lower(citys)
streets = to_lower(streets)
numbers = to_lower(numbers)

def clean_address(df, addr_col, new_addr_col):
    df[addr_col] = df[addr_col].str.lower()
    df[new_addr_col]=df[addr_col]
    df[new_addr_col] = df[new_addr_col].apply(lambda x: re.sub(r'[^\w\s]', ' ', x))
    df[new_addr_col] = df[new_addr_col].apply(lambda x: ' '.join(word for word in x.split() if word in citys or word in streets or word in numbers))
    return df

In [27]:
#fuzzy compare address
from collections import Counter
from thefuzz import fuzz

def count_same_digits(array1, array2):
    if (len(array1)+len(array2))<2:
        return 0
    counter1 = Counter(array1)
    counter2 = Counter(array2)
    # Find the intersection considering duplicates
    common_elements = counter1 & counter2

    # Calculate the total count of common elements considering duplicates
    count_of_common_elements = sum(common_elements.values())
    #print(count_of_common_elements, len(array1), len(array2))
    
    return 2*count_of_common_elements/(len(array1)+len(array2))

def spec_match(str1, str2):
    digits_str1 = [int(d) for d in re.findall(r'\d+', str1)]
    digits_str2 = [int(d) for d in re.findall(r'\d+', str2)]
    dist = fuzz.WRatio(re.sub(r'\d', '', str1), re.sub(r'\d', '', str2))
    return dist*count_same_digits(digits_str1, digits_str2)/100.0

### append data

In [28]:
df = df2020[['code_discription', 'address_raw', 'data_short', 'cost']].copy()
df2 = df2019.copy()
df['address_raw'] = df['address_raw'].str.lower()
df2['address_raw'] = df2['address_raw'].str.lower()
set(df['address_raw'])&set(df2['address_raw'])

{'оплата за тепловую энергию по тарифам зд. ул.светланская,73а - ст.134.1100',
 'оплата за тепловую энергию по тарифам зд. ул.фонтанная, 19 - ст.134.1100'}

In [29]:
df

,code_discription,address_raw,data_short,cost
0,Расходы по оплате потребления электроэнергии,134.1100.010000 плата за технологическое присо...,12.202,32790.96
1,Расходы по оплате потребления электроэнергии,оплата за электроэнергию по тарифам зд. вл-але...,12.202,2274.13
2,Расходы по оплате потребления электроэнергии,оплата за электроэнергию по тарифам зд. ул.све...,12.202,238482.63
3,Расходы по оплате потребления электроэнергии,оплата за электроэнергию по тарифам зд. г.нахо...,12.202,614813.95
4,Расходы по оплате потребления электроэнергии,оплата за электроэнергию по тарифам зд. склад ...,12.202,22413.58
...,...,...,...,...
2938,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",4.202,226.73
2939,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",10.202,87.79
2940,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",10.202,186.56
2941,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",10.202,175.58
2942,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",9.202,129.49

In [30]:
df2['data_short'] = df2['data_short'].astype(str)
df2['data_short'] = pd.to_datetime('01.' + df2['data_short'], format='%d.%m.%Y')

# Создаем столбец 'month'
df2['month'] = df2['data_short'].dt.month

# Создаем столбец 'year'
df2['year'] = df2['data_short'].dt.year

df2

,smeta,distr,code,code_discription,address_raw,cost,full_date,data_short,es_code_int,address_clean,test,month,year
0,Общежитие Дальневосточного ГУ Банка России г. ...,Дальневосточное главное управление Центральног...,134.11,Расходы на коммунальные услуги,оплата за водоотведение по тарифам зд. ул.верх...,663.40,2019-10-01,2019-10-01,3,"зд. ул.верхнепортовая, 44 - 00",верхнепортовая 44,10,2019
1,Общежитие Дальневосточного ГУ Банка России г. ...,Дальневосточное главное управление Центральног...,134.11,Расходы на коммунальные услуги,оплата за водоотведение по тарифам зд. ул.верх...,11.97,2019-01-14,2019-01-01,3,"зд. ул.верхнепортовая, 44 - 00",верхнепортовая 44,1,2019
2,Общежитие Дальневосточного ГУ Банка России г. ...,Дальневосточное главное управление Центральног...,134.11,Расходы на коммунальные услуги,оплата за водоотведение по тарифам зд. ул.верх...,12.17,2019-07-02,2019-07-01,3,"зд. ул.верхнепортовая, 44 - 00",верхнепортовая 44,7,2019
3,Общежитие Дальневосточного ГУ Банка России г. ...,Дальневосточное главное управление Центральног...,134.11,Расходы на коммунальные услуги,оплата за водоотведение по тарифам зд. ул.верх...,488.15,2019-08-02,2019-08-01,3,"зд. ул.верхнепортовая, 44 - 00",верхнепортовая 44,8,2019
4,Общежитие Дальневосточного ГУ Банка России г. ...,Дальневосточное главное управление Центральног...,134.11,Расходы на коммунальные услуги,оплата за водоотведение по тарифам зд. ул.верх...,413.05,2019-07-03,2019-07-01,3,"зд. ул.верхнепортовая, 44 - 00",верхнепортовая 44,7,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3088,Хозяйственно-эксплуатационное направление Якутия,Отделение - Национальный банк по Республике Са...,134.11,Расходы на коммунальные услуги,оплата потребления газа по тарифам зд. ул.киро...,609.08,2019-09-18,2019-09-01,5,"зд. ул.кирова,17 - 00",кирова 17,9,2019
3089,Хозяйственно-эксплуатационное направление Якутия,Отделение - Национальный банк по Республике Са...,134.11,Расходы на коммунальные услуги,оплата потребления газа по тарифам зд. ул.киро...,26503.15,2019-10-14,2019-10-01,5,"зд. ул.кирова,17 - 00",кирова 17,10,2019
3090,Хозяйственно-эксплуатационное направление Якутия,Отделение - Национальный банк по Республике Са...,134.11,Расходы на коммунальные услуги,оплата потребления газа по тарифам зд. ул.киро...,59959.81,2019-12-11,2019-12-01,5,"зд. ул.кирова,17 - 00",кирова 17,12,2019
3091,Хозяйственно-эксплуатационное направление Якутия,Отделение - Национальный банк по Республике Са...,134.11,Расходы на коммунальные услуги,оплата потребления газа по тарифам зд. ул.киро...,105621.11,2019-12-16,2019-12-01,5,"зд. ул.кирова,17 - 00",кирова 17,12,2019
3092,Хозяйственно-эксплуатационное направление Якутия,Отделение - Национальный банк по Республике Са...,134.11,Расходы на коммунальные услуги,плата за технологическое присоединение к элект...,4198.52,2019-05-12,2019-05-01,1,"(в случаях, не связанным со строительством,ре...",в не и ленск,5,2019

In [31]:
df['es_code_int'] = df.apply(get_type_of_es, axis=1)

In [32]:
df = clean_address(df, 'address_raw', 'test')

In [33]:
df['data_short']=df['data_short'].astype(str)
df['data_short'] = pd.to_datetime('01.' + df['data_short']+'0', format='%d.%m.%Y')
# Создаем столбец 'month'
df['month'] = df['data_short'].dt.month

# Создаем столбец 'year'
df['year'] = df['data_short'].dt.year
df

,code_discription,address_raw,data_short,cost,es_code_int,test,month,year
0,Расходы по оплате потребления электроэнергии,134.1100.010000 плата за технологическое присо...,2020-12-01,32790.96,1,134 за к владивосток калинина 261,12,2020
1,Расходы по оплате потребления электроэнергии,оплата за электроэнергию по тарифам зд. вл-але...,2020-12-01,2274.13,1,за по александровское седова 23,12,2020
2,Расходы по оплате потребления электроэнергии,оплата за электроэнергию по тарифам зд. ул.све...,2020-12-01,238482.63,1,за по светланская 111,12,2020
3,Расходы по оплате потребления электроэнергии,оплата за электроэнергию по тарифам зд. г.нахо...,2020-12-01,614813.95,1,за по находка находкинский 13,12,2020
4,Расходы по оплате потребления электроэнергии,оплата за электроэнергию по тарифам зд. склад ...,2020-12-01,22413.58,1,за по склад фонтанная 19,12,2020
...,...,...,...,...,...,...,...,...
2938,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-04-01,226.73,3,за холодное по амурского 42,4,2020
2939,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-10-01,87.79,3,за холодное по амурского 42,10,2020
2940,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-10-01,186.56,3,за холодное по амурского 42,10,2020
2941,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-10-01,175.58,3,за холодное по амурского 42,10,2020
2942,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-09-01,129.49,3,за холодное по амурского 42,9,2020

In [34]:
df['month']

0       12
1       12
2       12
3       12
4       12
        ..
2938     4
2939    10
2940    10
2941    10
2942     9
Name: month, Length: 2943, dtype: int32

In [35]:
len(set(df['address_raw'])&set(df2['address_raw']))

2

In [36]:
df['index_save'] = df.index

In [37]:
# Используем метод merge для объединения DataFrame на основе условия
df3 = df2[['address_raw', 'es_code_int','month','cost']].copy()
df3 = df3.groupby(['address_raw', 'es_code_int','month'], as_index=False)['cost'].mean()
merged_df = pd.merge(df, df3, on=['address_raw', 'es_code_int','month'], how='left', suffixes=('', '_prev_year'))

# В результате получаем новый DataFrame с добавленными данными
print(df.shape, df2.shape)
print(merged_df.columns, '\n',merged_df.shape)

(2943, 9) (3093, 13)
Index(['code_discription', 'address_raw', 'data_short', 'cost', 'es_code_int',
       'test', 'month', 'year', 'index_save', 'cost_prev_year'],
      dtype='object')
 (2943, 10)

In [38]:
nan_rows_merged_df = merged_df[merged_df['cost_prev_year'].isna()]
nan_rows_merged_df.shape

(2925, 10)

In [39]:
merged_df = merged_df.dropna(subset=['cost_prev_year'])
merged_df.shape

(18, 10)

In [40]:
nan_rows_merged_df.drop(columns=['cost_prev_year'], inplace=True)
shift_value = 1
nan_rows_merged_df['month'] = (nan_rows_merged_df['month'] + shift_value - 1) % 12 + 1

In [41]:
# Используем метод merge для объединения DataFrame на основе условия
df3 = df2[['address_raw', 'es_code_int','month','cost']].copy()
df3 = df3.groupby(['address_raw', 'es_code_int','month'], as_index=False)['cost'].mean()
merged_df2 = pd.merge(nan_rows_merged_df, df3, on=['address_raw', 'es_code_int','month'], how='left', suffixes=('', '_prev_year'))

# В результате получаем новый DataFrame с добавленными данными
print(nan_rows_merged_df.shape, df2.shape)
print(merged_df2.columns, '\n',merged_df2.shape)

(2925, 9) (3093, 13)
Index(['code_discription', 'address_raw', 'data_short', 'cost', 'es_code_int',
       'test', 'month', 'year', 'index_save', 'cost_prev_year'],
      dtype='object')
 (2925, 10)

In [42]:
nan_rows_merged_df2 = merged_df2[merged_df2['cost_prev_year'].isna()]
nan_rows_merged_df2.shape

(2916, 10)

In [43]:
merged_df2 = merged_df2.dropna(subset=['cost_prev_year'])
merged_df2.shape

(9, 10)

In [44]:
nan_rows_merged_df2.drop(columns=['cost_prev_year'], inplace=True)
shift_value = -2
nan_rows_merged_df2['month'] = (nan_rows_merged_df2['month'] + shift_value - 1) % 12 + 1

In [45]:
# Используем метод merge для объединения DataFrame на основе условия
df3 = df2[['address_raw', 'es_code_int','month','cost']].copy()
df3 = df3.groupby(['address_raw', 'es_code_int','month'], as_index=False)['cost'].mean()
merged_df3 = pd.merge(nan_rows_merged_df2, df3, on=['address_raw', 'es_code_int','month'], how='left', suffixes=('', '_prev_year'))

# В результате получаем новый DataFrame с добавленными данными
print(nan_rows_merged_df2.shape, df3.shape)
print(merged_df3.columns, '\n',merged_df3.shape)

(2916, 9) (2141, 4)
Index(['code_discription', 'address_raw', 'data_short', 'cost', 'es_code_int',
       'test', 'month', 'year', 'index_save', 'cost_prev_year'],
      dtype='object')
 (2916, 10)

In [46]:
nan_rows_merged_df3 = merged_df3[merged_df3['cost_prev_year'].isna()]
nan_rows_merged_df3.shape

(2916, 10)

In [47]:
merged_df3 = merged_df3.dropna(subset=['cost_prev_year'])
merged_df3.shape

(0, 10)

### fill NaN by adress similarity

In [48]:
for i, row1 in nan_rows_merged_df3.iterrows():
    matching_rows_df2 = df2[(df2['month'] == row1['month']) & (df2['es_code_int'] == row1['es_code_int'])]

    best_match_index = -1
    best_score = -1

    for j, row2 in matching_rows_df2.iterrows():
        score = spec_match(str(row1['test']), str(row2['test']))
        if score > best_score:
            best_score = score
            best_match_index = j

    if best_match_index != -1:
        nan_rows_merged_df3.at[i, 'prev_year_cost'] = df2.at[best_match_index, 'cost']

In [49]:
nan_rows_merged_df3['cost_prev_year'] = nan_rows_merged_df3['cost_prev_year'].fillna(nan_rows_merged_df3['prev_year_cost'])
nan_rows_merged_df3.drop(columns=['prev_year_cost'], inplace=True)

## mrg_df все еще содержит NaN

In [50]:
mrg_df = pd.concat([merged_df, merged_df2, merged_df3, nan_rows_merged_df3], ignore_index=True)
mrg_df

,code_discription,address_raw,data_short,cost,es_code_int,test,month,year,index_save,cost_prev_year
0,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-11-01,35986.46,2,за по светланская 134,11,2020,548,11221.093333
1,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-10-01,34621.89,2,за по светланская 134,10,2020,550,8832.145000
2,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-09-01,30776.41,2,за по светланская 134,9,2020,551,1690.760000
3,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-05-01,22688.36,2,за по светланская 134,5,2020,552,17512.730000
4,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-11-01,19859.33,2,за по светланская 134,11,2020,553,11221.093333
...,...,...,...,...,...,...,...,...,...,...
2938,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-04-01,226.73,3,за холодное по амурского 42,3,2020,2938,339.650000
2939,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-10-01,87.79,3,за холодное по амурского 42,9,2020,2939,344.460000
2940,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-10-01,186.56,3,за холодное по амурского 42,9,2020,2940,344.460000
2941,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-10-01,175.58,3,за холодное по амурского 42,9,2020,2941,344.460000
2942,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-09-01,129.49,3,за холодное по амурского 42,8,2020,2942,352.800000

### сейчас добавми дополнительные данные

In [51]:
add_info_file = './data3/qart/merget_tr_q2y_2019.xlsx'

In [52]:
add_df = pd.read_excel(add_info_file)

In [53]:
add_df.isnull().sum()

cad_code                 0
build_date               0
balance_accept_date      0
com_sq_estate_q1         0
com_sq_building_q1       0
                      ...
years_before_q4          0
address_new             21
TR_object_name         426
TR_planned_cost        426
TR_cost                426
Length: 100, dtype: int64

In [54]:
selected_columns = ['TR_object_name', 'TR_planned_cost', 'TR_cost']

# Заполняем пропущенные значения в выбранных колонках нулями
add_df[selected_columns] = add_df[selected_columns].fillna(0)

In [55]:
mrg_df_bkp = mrg_df.copy()
add_df_bkp = add_df.copy()

In [56]:
cols_to_copy = ['com_sq_estate_q1',
       'com_sq_building_q1', 'busy_cb_1_q1', 'not_busy_cb_1_q1',
       'rent_out_1_q1', 'rented_1_q1', 'rent_out_sub_1_q1', 'transfer_1_q1',
       'transfer_2_q1', 'busy_cb_2_q1', 'not_busy_cb_2_q1', 'rent_out_2_q1',
       'rented_2_q1', 'rent_out_sub_2_q1', 'transfer_3_q1', 'transfer_4_q1',
       'balance_cost_q1', 'over_price_q1', 'accrual_amount_q1',
       'residual_value_q1', 'technical_condition_q1', 'otdel',
       'years_holding_q1', 'years_before_q1', 'com_sq_estate_q2',
       'com_sq_building_q2', 'busy_cb_1_q2', 'not_busy_cb_1_q2',
       'rent_out_1_q2', 'rented_1_q2', 'rent_out_sub_1_q2', 'transfer_1_q2',
       'transfer_2_q2', 'busy_cb_2_q2', 'not_busy_cb_2_q2', 'rent_out_2_q2',
       'rented_2_q2', 'rent_out_sub_2_q2', 'transfer_3_q2', 'transfer_4_q2',
       'balance_cost_q2', 'over_price_q2', 'accrual_amount_q2',
       'residual_value_q2', 'technical_condition_q2', 'years_holding_q2',
       'years_before_q2', 'com_sq_estate_q3', 'com_sq_building_q3',
       'busy_cb_1_q3', 'not_busy_cb_1_q3', 'rent_out_1_q3', 'rented_1_q3',
       'rent_out_sub_1_q3', 'transfer_1_q3', 'transfer_2_q3', 'busy_cb_2_q3',
       'not_busy_cb_2_q3', 'rent_out_2_q3', 'rented_2_q3', 'rent_out_sub_2_q3',
       'transfer_3_q3', 'transfer_4_q3', 'balance_cost_q3', 'over_price_q3',
       'accrual_amount_q3', 'residual_value_q3', 'technical_condition_q3',
       'years_holding_q3', 'years_before_q3', 'com_sq_estate_q4',
       'com_sq_building_q4', 'busy_cb_1_q4', 'not_busy_cb_1_q4',
       'rent_out_1_q4', 'rented_1_q4', 'rent_out_sub_1_q4', 'transfer_1_q4',
       'transfer_2_q4', 'busy_cb_2_q4', 'not_busy_cb_2_q4', 'rent_out_2_q4',
       'rented_2_q4', 'rent_out_sub_2_q4', 'transfer_3_q4', 'transfer_4_q4',
       'balance_cost_q4', 'over_price_q4', 'accrual_amount_q4',
       'residual_value_q4', 'technical_condition_q4', 'years_holding_q4',
       'years_before_q4', 'TR_object_name', 'TR_planned_cost',
       'TR_cost'] #without 'address_new' 'cad_code', 'build_date', 'balance_accept_date'

In [57]:
mrg_df

,code_discription,address_raw,data_short,cost,es_code_int,test,month,year,index_save,cost_prev_year
0,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-11-01,35986.46,2,за по светланская 134,11,2020,548,11221.093333
1,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-10-01,34621.89,2,за по светланская 134,10,2020,550,8832.145000
2,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-09-01,30776.41,2,за по светланская 134,9,2020,551,1690.760000
3,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-05-01,22688.36,2,за по светланская 134,5,2020,552,17512.730000
4,Расходы по оплате всех видов отопления зданий ...,оплата за тепловую энергию по тарифам зд. ул.с...,2020-11-01,19859.33,2,за по светланская 134,11,2020,553,11221.093333
...,...,...,...,...,...,...,...,...,...,...
2938,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-04-01,226.73,3,за холодное по амурского 42,3,2020,2938,339.650000
2939,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-10-01,87.79,3,за холодное по амурского 42,9,2020,2939,344.460000
2940,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-10-01,186.56,3,за холодное по амурского 42,9,2020,2940,344.460000
2941,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-10-01,175.58,3,за холодное по амурского 42,9,2020,2941,344.460000
2942,"Расходы по оплате услуг водоснабжения, водоотв...","оплата за холодное водоснабжение по тарифам, у...",2020-09-01,129.49,3,за холодное по амурского 42,8,2020,2942,352.800000

In [58]:
mrg_df.loc[:, cols_to_copy] = None

# Создание матрицы оценок совпадения
scores_matrix = pd.DataFrame(index=mrg_df.index, columns=add_df.index)

for i, row1 in mrg_df.iterrows():
    for j, row2 in add_df.iterrows():
        scores_matrix.at[i, j] = spec_match(str(row1['test']), str(row2['address_new']))

# Получение индексов максимальных значений для каждой строки
best_matches_indices = scores_matrix.idxmax(axis=1)

# Заполнение колонок в df1
for i, column in enumerate(cols_to_copy):
    mrg_df[column] = add_df.loc[best_matches_indices, column].values

In [59]:
mrg_df.shape

(2943, 106)

In [60]:
mrg_df.to_excel('./data/dataset2019-2020.xlsx', index=False)

In [61]:
print(mrg_df.isna().value_counts())

code_discription  address_raw  data_short  cost   es_code_int  test   month  year   index_save  cost_prev_year  com_sq_estate_q1  com_sq_building_q1  busy_cb_1_q1  not_busy_cb_1_q1  rent_out_1_q1  rented_1_q1  rent_out_sub_1_q1  transfer_1_q1  transfer_2_q1  busy_cb_2_q1  not_busy_cb_2_q1  rent_out_2_q1  rented_2_q1  rent_out_sub_2_q1  transfer_3_q1  transfer_4_q1  balance_cost_q1  over_price_q1  accrual_amount_q1  residual_value_q1  technical_condition_q1  otdel  years_holding_q1  years_before_q1  com_sq_estate_q2  com_sq_building_q2  busy_cb_1_q2  not_busy_cb_1_q2  rent_out_1_q2  rented_1_q2  rent_out_sub_1_q2  transfer_1_q2  transfer_2_q2  busy_cb_2_q2  not_busy_cb_2_q2  rent_out_2_q2  rented_2_q2  rent_out_sub_2_q2  transfer_3_q2  transfer_4_q2  balance_cost_q2  over_price_q2  accrual_amount_q2  residual_value_q2  technical_condition_q2  years_holding_q2  years_before_q2  com_sq_estate_q3  com_sq_building_q3  busy_cb_1_q3  not_busy_cb_1_q3  rent_out_1_q3  rented_1_q3  rent_out_sub_1_q3  transfer_1_q3  transfer_2_q3  busy_cb_2_q3  not_busy_cb_2_q3  rent_out_2_q3  rented_2_q3  rent_out_sub_2_q3  transfer_3_q3  transfer_4_q3  balance_cost_q3  over_price_q3  accrual_amount_q3  residual_value_q3  technical_condition_q3  years_holding_q3  years_before_q3  com_sq_estate_q4  com_sq_building_q4  busy_cb_1_q4  not_busy_cb_1_q4  rent_out_1_q4  rented_1_q4  rent_out_sub_1_q4  transfer_1_q4  transfer_2_q4  busy_cb_2_q4  not_busy_cb_2_q4  rent_out_2_q4  rented_2_q4  rent_out_sub_2_q4  transfer_3_q4  transfer_4_q4  balance_cost_q4  over_price_q4  accrual_amount_q4  residual_value_q4  technical_condition_q4  years_holding_q4  years_before_q4  TR_object_name  TR_planned_cost  TR_cost
False             False        False       False  False        False  False  False  False       False           False             False               False         False             False          False        False              False          False          False         False             False          False        False              False          False          False            False          False              False              False                   False  False             False            False             False               False         False             False          False        False              False          False          False         False             False          False        False              False          False          False            False          False              False              False                   False             False            False             False               False         False             False          False        False              False          False          False         False             False          False        False              False          False          False            False          False              False              False                   False             False            False             False               False         False             False          False        False              False          False          False         False             False          False        False              False          False          False            False          False              False              False                   False             False            False           False            False      2939
                                                                                                True            False             False               False         False             False          False        False              False          False          False         False             False          False        False              False          False          False            False          False              False              False                   False  False             False            False             False               False         False             False          False        False              False          False          False         False             False          False        False              False          False          False            False          False              False              False                   False             False            False             False               False         False             False          False        False              False          False          False         False             False          False        False              False          False          False            False          False              False              False                   False             False            False             False               False         False             False          False        False              False          False          False         False             False          False        False              False          False          False            False          False              False              False                   False             False            False           False            False         4
Name: count, dtype: int64