In [1]:
import pandas as pd

pd.set_option("display.max_colwidth", None)

from sklearn.ensemble import HistGradientBoostingRegressor, RandomForestRegressor
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
dataset1 = pd.read_excel("dataset2018-2019.xlsx")
dataset2 = pd.read_excel("dataset2019-2020.xlsx")
dataset3 = pd.read_excel("dataset2020-2021.xlsx")
dataset4 = pd.read_excel("dataset2022-2023.xlsx")

In [3]:
encod_col = [
    "technical_condition_q1",
    "technical_condition_q2",
    "technical_condition_q3",
    "technical_condition_q4",
]

In [4]:
drop_col_cat = [
    "code_discription",
    "address_raw",
    "test",
    "otdel",
    "TR_object_name",
    "index_save",
]
wodcc1 = dataset1.drop(columns=drop_col_cat)
wodcc2 = dataset2.drop(columns=drop_col_cat)
wodcc3 = dataset3.drop(columns=drop_col_cat)
wodcc4 = dataset4.drop(columns=drop_col_cat)

In [5]:
wodcc = pd.concat([wodcc1, wodcc2, wodcc3], ignore_index=True)

encoding

In [6]:
wodcc.replace(
    ["Удовлетворительное", "Хорошее", "Ветхое", "Аварийное"], [0, 1, 2, 3], inplace=True
)

In [7]:
# datetime to numeric
wodcc["data_short"] = pd.to_datetime(wodcc["data_short"])

array_datetime = wodcc["data_short"].to_numpy()
array_datetime_numeric = array_datetime.astype("int64") // 10**9
array_datetime_numeric_df = pd.DataFrame(
    array_datetime_numeric, columns=["datetimestmap"]
)

In [8]:
wodcc = pd.concat([wodcc, array_datetime_numeric_df], axis=1)
wodcc.drop(columns="data_short", inplace=True)

In [9]:
wodcc2

,data_short,cost,es_code_int,month,year,cost_prev_year,com_sq_estate_q1,com_sq_building_q1,busy_cb_1_q1,not_busy_cb_1_q1,...,transfer_4_q4,balance_cost_q4,over_price_q4,accrual_amount_q4,residual_value_q4,technical_condition_q4,years_holding_q4,years_before_q4,TR_planned_cost,TR_cost
0,2020-11-01,35986.46,2,11,2020,11221.093333,1096.4,1096.4,1096.4,0.0,...,0,12267276.41,4351350.84,2705865.33,9561411.08,Удовлетворительное,26,26,0.0,0.0
1,2020-10-01,34621.89,2,10,2020,8832.145000,1096.4,1096.4,1096.4,0.0,...,0,12267276.41,4351350.84,2705865.33,9561411.08,Удовлетворительное,26,26,0.0,0.0
2,2020-09-01,30776.41,2,9,2020,1690.760000,1096.4,1096.4,1096.4,0.0,...,0,12267276.41,4351350.84,2705865.33,9561411.08,Удовлетворительное,26,26,0.0,0.0
3,2020-05-01,22688.36,2,5,2020,17512.730000,1096.4,1096.4,1096.4,0.0,...,0,12267276.41,4351350.84,2705865.33,9561411.08,Удовлетворительное,26,26,0.0,0.0
4,2020-11-01,19859.33,2,11,2020,11221.093333,1096.4,1096.4,1096.4,0.0,...,0,12267276.41,4351350.84,2705865.33,9561411.08,Удовлетворительное,26,26,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2938,2020-04-01,226.73,3,3,2020,339.650000,433.7,433.7,433.7,0.0,...,0,2386080.40,2128384.70,744456.02,1641624.38,Хорошее,33,29,0.0,0.0
2939,2020-10-01,87.79,3,9,2020,344.460000,433.7,433.7,433.7,0.0,...,0,2386080.40,2128384.70,744456.02,1641624.38,Хорошее,33,29,0.0,0.0
2940,2020-10-01,186.56,3,9,2020,344.460000,433.7,433.7,433.7,0.0,...,0,2386080.40,2128384.70,744456.02,1641624.38,Хорошее,33,29,0.0,0.0
2941,2020-10-01,175.58,3,9,2020,344.460000,433.7,433.7,433.7,0.0,...,0,2386080.40,2128384.70,744456.02,1641624.38,Хорошее,33,29,0.0,0.0
2942,2020-09-01,129.49,3,8,2020,352.800000,433.7,433.7,433.7,0.0,...,0,2386080.40,2128384.70,744456.02,1641624.38,Хорошее,33,29,0.0,0.0

In [10]:
wodcc = wodcc.apply(lambda column: column.fillna(column.mode()[0]))

In [11]:
X_ds = wodcc.drop(["cost"], axis=1)
y_ds = wodcc["cost"]

In [12]:
hgbr = HistGradientBoostingRegressor()
rfr = RandomForestRegressor()

In [13]:
# X_train, X_test, y_train, y_test = train_test_split(
#     X_ds, y_ds, train_size=0.8, random_state=42
# )

In [14]:
# 4 test
hgbr.fit(X_ds, y_ds)
rfr.fit(X_ds, y_ds)
# train
# hgbr.fit(X_train, y_train)
# rfr.fit(X_train, y_train)

RandomForestRegressor()

In [15]:
wodcc1

,data_short,cost,es_code_int,month,year,cost_prev_year,com_sq_estate_q1,com_sq_building_q1,busy_cb_1_q1,not_busy_cb_1_q1,...,transfer_4_q4,balance_cost_q4,over_price_q4,accrual_amount_q4,residual_value_q4,technical_condition_q4,years_holding_q4,years_before_q4,TR_planned_cost,TR_cost
0,2019-10-01,663.40,3,10,2019,11.9700,52.7,52.7,52.7,0.0,...,0,2520928.00,6006.15,315133.91,2205794.09,Удовлетворительное,31,8,0.0,0.0
1,2019-01-01,11.97,3,1,2019,346.2750,52.7,52.7,52.7,0.0,...,0,2520928.00,6006.15,315133.91,2205794.09,Удовлетворительное,31,8,0.0,0.0
2,2019-07-01,12.17,3,7,2019,251.9000,52.7,52.7,52.7,0.0,...,0,2520928.00,6006.15,315133.91,2205794.09,Удовлетворительное,31,8,0.0,0.0
3,2019-08-01,488.15,3,8,2019,133.5075,52.7,52.7,52.7,0.0,...,0,2520928.00,6006.15,315133.91,2205794.09,Удовлетворительное,31,8,0.0,0.0
4,2019-07-01,413.05,3,7,2019,251.9000,52.7,52.7,52.7,0.0,...,0,2520928.00,6006.15,315133.91,2205794.09,Удовлетворительное,31,8,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3088,2019-09-01,143.22,1,8,2019,319646.2900,76.5,76.5,0.0,0.0,...,0,372659.10,205441.66,259215.14,113443.96,Удовлетворительное,40,27,0.0,0.0
3089,2019-10-01,45.43,1,9,2019,188290.2400,76.5,76.5,0.0,0.0,...,0,372659.10,205441.66,259215.14,113443.96,Удовлетворительное,40,27,0.0,0.0
3090,2019-11-01,99.52,1,10,2019,202591.8400,76.5,76.5,0.0,0.0,...,0,372659.10,205441.66,259215.14,113443.96,Удовлетворительное,40,27,0.0,0.0
3091,2019-12-01,54.98,1,11,2019,237857.2600,76.5,76.5,0.0,0.0,...,0,372659.10,205441.66,259215.14,113443.96,Удовлетворительное,40,27,0.0,0.0
3092,2019-05-01,4198.52,1,4,2019,1510.9300,217.7,217.7,217.7,0.0,...,0,1638812.21,937438.23,645578.39,993233.82,Удовлетворительное,38,28,0.0,0.0

In [16]:
wodcc4.columns.to_list()

['data_short',
 'cost',
 'es_code_int',
 'month',
 'year',
 'cost_prev_year',
 'com_sq_estate_q1',
 'com_sq_building_q1',
 'busy_cb_1_q1',
 'not_busy_cb_1_q1',
 'rent_out_1_q1',
 'rented_1_q1',
 'rent_out_sub_1_q1',
 'transfer_1_q1',
 'transfer_2_q1',
 'busy_cb_2_q1',
 'not_busy_cb_2_q1',
 'rent_out_2_q1',
 'rented_2_q1',
 'rent_out_sub_2_q1',
 'transfer_3_q1',
 'transfer_4_q1',
 'balance_cost_q1',
 'over_price_q1',
 'accrual_amount_q1',
 'residual_value_q1',
 'technical_condition_q1',
 'years_holding_q1',
 'years_before_q1',
 'com_sq_estate_q2',
 'com_sq_building_q2',
 'busy_cb_1_q2',
 'not_busy_cb_1_q2',
 'rent_out_1_q2',
 'rented_1_q2',
 'rent_out_sub_1_q2',
 'transfer_1_q2',
 'transfer_2_q2',
 'busy_cb_2_q2',
 'not_busy_cb_2_q2',
 'rent_out_2_q2',
 'rented_2_q2',
 'rent_out_sub_2_q2',
 'transfer_3_q2',
 'transfer_4_q2',
 'balance_cost_q2',
 'over_price_q2',
 'accrual_amount_q2',
 'residual_value_q2',
 'technical_condition_q2',
 'years_holding_q2',
 'years_before_q2',
 'com_sq_estate_q3',
 'com_sq_building_q3',
 'busy_cb_1_q3',
 'not_busy_cb_1_q3',
 'rent_out_1_q3',
 'rented_1_q3',
 'rent_out_sub_1_q3',
 'transfer_1_q3',
 'transfer_2_q3',
 'busy_cb_2_q3',
 'not_busy_cb_2_q3',
 'rent_out_2_q3',
 'rented_2_q3',
 'rent_out_sub_2_q3',
 'transfer_3_q3',
 'transfer_4_q3',
 'balance_cost_q3',
 'over_price_q3',
 'accrual_amount_q3',
 'residual_value_q3',
 'technical_condition_q3',
 'years_holding_q3',
 'years_before_q3',
 'com_sq_estate_q4',
 'com_sq_building_q4',
 'busy_cb_1_q4',
 'not_busy_cb_1_q4',
 'rent_out_1_q4',
 'rented_1_q4',
 'rent_out_sub_1_q4',
 'transfer_1_q4',
 'transfer_2_q4',
 'busy_cb_2_q4',
 'not_busy_cb_2_q4',
 'rent_out_2_q4',
 'rented_2_q4',
 'rent_out_sub_2_q4',
 'transfer_3_q4',
 'transfer_4_q4',
 'balance_cost_q4',
 'over_price_q4',
 'accrual_amount_q4',
 'residual_value_q4',
 'technical_condition_q4',
 'years_holding_q4',
 'years_before_q4',
 'TR_planned_cost',
 'TR_cost']

In [17]:
wodcc4.drop(["cost"], axis=1, inplace=True)
wodcc4.replace(
    ["Удовлетворительное", "Хорошее", "Ветхое", "Аварийное"], [0, 1, 2, 3], inplace=True
)
# datetime to numeric
wodcc4["data_short"] = pd.to_datetime(wodcc4["data_short"])

array_datetime4 = wodcc4["data_short"].to_numpy()
array_datetime_numeric4 = array_datetime4.astype("int64") // 10**9
array_datetime_numeric_df4 = pd.DataFrame(
    array_datetime_numeric4, columns=["datetimestmap"]
)

wodcc4 = pd.concat([wodcc4, array_datetime_numeric_df4], axis=1)
wodcc4.drop(columns="data_short", inplace=True)
wodcc4 = wodcc4.apply(lambda column: column.fillna(column.mode()[0]))

In [18]:
pred_val = rfr.predict(wodcc4)

In [19]:
pred_val = pd.DataFrame(pred_val, columns=["cost"])

In [20]:
df4pred = dataset4.loc[
    :, ["code_discription", "address_raw", "data_short", "index_save"]
]
df4pred

,code_discription,address_raw,data_short,index_save
0,Электроэнергия,"134.1000.01 дгу. оплата за электроэнергию по тарифам с.вл-александровское, ул.седова, 32",2023-02-01,2574
1,Электроэнергия,"134.1000.01 дгу. оплата за электроэнергию по тарифам с.вл-александровское, ул.седова, 32",2023-03-01,2575
2,Электроэнергия,"134.1000.01 дгу. оплата за электроэнергию по тарифам с.вл-александровское, ул.седова, 32",2023-04-01,2576
3,Электроэнергия,"134.1000.01 дгу. оплата за электроэнергию по тарифам с.вл-александровское, ул.седова, 32",2023-05-01,2577
4,Электроэнергия,"134.1000.01 дгу. оплата за электроэнергию по тарифам с.вл-александровское, ул.седова, 32",2023-06-01,2578
...,...,...,...,...
1987,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул. кирова 17б (литера2),2023-01-01,4507
1988,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул. кирова 17н (литерб),2023-01-01,4508
1989,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул. кирова 17в (литера6),2023-01-01,4509
1990,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул. кирова 17м (гараж литер д1),2023-01-01,4510
1991,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул. кирова 17д (дэс литере),2023-02-01,4511

In [21]:
wodcc4_w_cost = pd.concat([df4pred, pred_val], axis=1)

In [22]:
wodcc4_w_cost.to_excel("sumbmit_from2021to2223.xlsx", index=False)

In [ ]:
# mean_absolute_percentage_error(
#     y_test, hgbr.predict(X_test)
# ), mean_absolute_percentage_error(y_test, rfr.predict(X_test))