In [15]:
import pandas as pd

In [16]:
Q_YEAR = 2016  # Change me!
q1 = pd.read_excel(f"train_data/Lists ON/List ON_{Q_YEAR}/format_q1_{Q_YEAR}.xlsx")
q2 = pd.read_excel(f"train_data/Lists ON/List ON_{Q_YEAR}/format_q2_{Q_YEAR}.xlsx")
q3 = pd.read_excel(f"train_data/Lists ON/List ON_{Q_YEAR}/format_q3_{Q_YEAR}.xlsx")
q4 = pd.read_excel(f"train_data/Lists ON/List ON_{Q_YEAR}/format_q4_{Q_YEAR}.xlsx")

q2.drop(columns=["address", "build_date", "balance_accept_date", "otdel"], inplace=True)
q3.drop(columns=["address", "build_date", "balance_accept_date", "otdel"], inplace=True)
q4.drop(columns=["address", "build_date", "balance_accept_date", "otdel"], inplace=True)

In [17]:
q1.shape, q2.shape, q3.shape, q4.shape

((529, 26), (527, 22), (530, 22), (529, 22))

In [18]:
q3

,cad_code,com_sq_estate_q3,com_sq_building_q3,busy_cb_1_q3,not_busy_cb_1_q3,rent_out_1_q3,rented_1_q3,rent_out_sub_1_q3,transfer_1_q3,transfer_2_q3,...,rent_out_2_q3,rented_2_q3,rent_out_sub_2_q3,transfer_3_q3,transfer_4_q3,balance_cost_q3,over_price_q3,accrual_amount_q3,residual_value_q3,technical_condition_q3
0,04-07-01-00-00-003,217.7,217.7,217.7,0.0,0.0,0.0,0.0,0.00,0,...,0.0,0.0,0.0,0.00,0,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное
1,04-01-07-00-00-005,389.1,389.1,0.0,0.0,389.1,0.0,0.0,86.29,0,...,389.1,0.0,0.0,86.29,0,1050734.76,771306.47,452798.97,597935.79,Удовлетворительное
2,04-01-09-00-00-007,237.7,237.7,0.0,0.0,0.0,0.0,0.0,237.70,0,...,0.0,0.0,0.0,237.70,0,126711.23,53749.02,93869.21,32842.02,Удовлетворительное
3,04-01-03-00-00-008,830.2,830.2,0.0,830.2,0.0,0.0,0.0,0.00,0,...,0.0,0.0,0.0,0.00,0,1657840.58,53749.02,1657840.58,32842.02,Ветхое
4,04-01-01-00-00-009,403.9,403.9,403.9,0.0,0.0,0.0,0.0,0.00,0,...,0.0,0.0,0.0,0.00,0,303892.63,162432.93,210595.80,93296.83,Удовлетворительное
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,79-07-07-00-00-050,22.9,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,...,0.0,0.0,0.0,0.00,0,850482.96,344633.94,300007.71,550475.25,Хорошее
526,79-07-07-00-00-051,22.9,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,...,0.0,0.0,0.0,0.00,0,850482.96,344633.94,300007.71,550475.25,Хорошее
527,79-01-01-00-01-043,476.2,546.3,476.2,0.0,0.0,0.0,0.0,0.00,0,...,0.0,0.0,0.0,0.00,0,10539914.74,9526978.74,2752021.51,7787893.23,Удовлетворительное
528,79-05-01-00-01-044,70.1,546.3,70.1,0.0,0.0,0.0,0.0,0.00,0,...,0.0,0.0,0.0,0.00,0,10539914.74,9526978.74,2752021.51,7787893.23,Удовлетворительное
529,79-04-06-00-02-045,46.1,90.0,0.0,0.0,46.1,0.0,0.0,0.00,0,...,90.0,0.0,0.0,0.00,0,3167024.29,78402.86,721845.66,2445178.63,Хорошее

In [19]:
newq1q2q3q4 = (
    q1.merge(q2, on="cad_code", right_index=False)
    .merge(q3, on="cad_code", right_index=False)
    .merge(q4, on="cad_code", right_index=False)
)

In [20]:
newq1q2q3q4

,cad_code,address,build_date,balance_accept_date,com_sq_estate_q1,com_sq_building_q1,busy_cb_1_q1,not_busy_cb_1_q1,rent_out_1_q1,rented_1_q1,...,rent_out_2_q4,rented_2_q4,rent_out_sub_2_q4,transfer_3_q4,transfer_4_q4,balance_cost_q4,over_price_q4,accrual_amount_q4,residual_value_q4,technical_condition_q4
0,04-07-01-00-00-003,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,217.7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное
1,04-01-09-00-00-007,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,237.7,0,126711.23,53749.02,94249.35,32461.88,Удовлетворительное
2,04-01-06-00-00-010,"Административное здание, 676246, Амурская обла...",1978,14.02.1992,1080.4,1080.4,0.0,0.0,1080.4,0.0,...,1080.4,0.0,0.0,0.0,0,2623702.11,1867577.03,1196906.77,1426795.34,Удовлетворительное
3,04-01-04-00-00-011,"Административное здание, 676722, Амурская обла...",1971,14.02.1992,377.9,377.9,0.0,98.2,279.7,0.0,...,279.7,0.0,0.0,0.0,0,705741.97,469041.62,355264.62,350477.35,Удовлетворительное
4,04-01-04-00-00-014,"Административное здание, 676776, Амурская обл....",1992,19.02.1993,1398.0,1398.0,0.0,1313.6,84.4,0.0,...,0.0,0.0,0.0,84.4,0,771522.63,335606.23,319935.29,451587.34,Удовлетворительное
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,79-04-01-00-00-042,"Пристройка к ТП № 2, 689000, Чукотский автоном...",1995,09.02.2005,22.9,22.9,22.9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,850482.96,344633.94,303622.27,546860.69,Хорошее
524,79-07-07-00-00-050,"Земельный участок, 689251, Чукотский автономны...",1995,09.02.2005,22.9,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,850482.96,344633.94,303622.27,546860.69,Хорошее
525,79-07-07-00-00-051,"Земельный участок, 689202, Чукотский автономны...",1995,09.02.2005,22.9,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,850482.96,344633.94,303622.27,546860.69,Хорошее
526,79-01-01-00-01-043,"Здание РКЦ, 689450, Чукотский автономный округ...",1987,24.06.1991,476.2,546.3,476.2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,10539914.74,9526978.74,2783641.30,7756273.44,Удовлетворительное
527,79-05-01-00-01-044,"Помещение гаража здания РКЦ, 689450, Чукотский...",1987,24.06.1991,70.1,546.3,70.1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,10539914.74,9526978.74,2783641.30,7756273.44,Удовлетворительное

In [21]:
newq1q2q3q4.to_excel(f"out_q2y_{Q_YEAR}.xlsx", index=False)