In [22]:
import pandas as pd

In [23]:
Q_YEAR = 2021  # Change me!
q1 = pd.read_excel(f"train_data/Lists ON/List ON_{Q_YEAR}/format_q1_{Q_YEAR}.xlsx")
q2 = pd.read_excel(f"train_data/Lists ON/List ON_{Q_YEAR}/format_q2_{Q_YEAR}.xlsx")
q3 = pd.read_excel(f"train_data/Lists ON/List ON_{Q_YEAR}/format_q3_{Q_YEAR}.xlsx")
q4 = pd.read_excel(f"train_data/Lists ON/List ON_{Q_YEAR}/format_q4_{Q_YEAR}.xlsx")

q2.drop(columns=["address", "build_date", "balance_accept_date", "otdel"], inplace=True)
q3.drop(columns=["address", "build_date", "balance_accept_date", "otdel"], inplace=True)
q4.drop(columns=["address", "build_date", "balance_accept_date", "otdel"], inplace=True)

In [24]:
q1.shape, q2.shape, q3.shape, q4.shape

((316, 28), (302, 24), (299, 24), (296, 24))

In [25]:
q3

,cad_code,com_sq_estate_q3,com_sq_building_q3,busy_cb_1_q3,not_busy_cb_1_q3,rent_out_1_q3,rented_1_q3,rent_out_sub_1_q3,transfer_1_q3,transfer_2_q3,...,rent_out_sub_2_q3,transfer_3_q3,transfer_4_q3,balance_cost_q3,over_price_q3,accrual_amount_q3,residual_value_q3,technical_condition_q3,years_holding_q3,years_before_q3
0,04-01-01-00-00-002,1096.4,1096.4,1096.4,0.0,0.0,0.0,0,0.0,0,...,0,0.0,0,12267276.41,4351350.84,119641.05,9282248.57,Удовлетворительное,28,5
1,04-07-01-00-00-003,217.7,217.7,217.7,0.0,0.0,0.0,0,0.0,0,...,0,0.0,0,1638812.21,937438.23,699659.12,939153.09,Удовлетворительное,41,5
2,04-01-09-00-00-007,237.7,237.7,0.0,0.0,0.0,0.0,0,237.7,0,...,0,237.7,0,126711.23,53749.02,101471.86,25239.37,Удовлетворительное,62,5
3,04-01-03-00-00-010,1080.4,1080.4,0.0,1080.4,0.0,0.0,0,0.0,0,...,0,0.0,0,2623702.11,1867577.03,1346457.79,1277244.32,Удовлетворительное,43,5
4,04-05-09-00-00-017,233.4,233.4,0.0,0.0,0.0,0.0,0,233.4,0,...,0,233.4,0,349073.04,229992.75,197621.36,151451.68,Удовлетворительное,36,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,79-04-01-00-00-042,22.9,22.9,22.9,0.0,0.0,0.0,0,0.0,0,...,0,0.0,0,850482.96,344633.94,372298.76,478184.20,Хорошее,26,5
295,79-07-03-00-00-051,22.9,0.0,0.0,0.0,0.0,0.0,0,0.0,0,...,0,0.0,0,850482.96,344633.94,372298.76,478184.20,Хорошее,26,5
296,79-01-01-00-01-043,476.2,546.3,476.2,0.0,0.0,0.0,0,0.0,0,...,0,0.0,0,10539914.74,9526978.74,3384416.41,7155498.33,Хорошее,34,5
297,79-05-01-00-01-044,70.1,546.3,70.1,0.0,0.0,0.0,0,0.0,0,...,0,0.0,0,10539914.74,9526978.74,3384416.41,7155498.33,Хорошее,34,5
298,79-04-03-00-02-045,46.1,90.0,0.0,46.1,0.0,0.0,0,0.0,0,...,0,0.0,0,3167024.29,78402.86,911867.11,2255157.18,Хорошее,24,5

In [26]:
newq1q2q3q4 = (
    q1.merge(q2, on="cad_code", right_index=False)
    .merge(q3, on="cad_code", right_index=False)
    .merge(q4, on="cad_code", right_index=False)
)

In [27]:
newq1q2q3q4

,cad_code,address,build_date,balance_accept_date,com_sq_estate_q1,com_sq_building_q1,busy_cb_1_q1,not_busy_cb_1_q1,rent_out_1_q1,rented_1_q1,...,rent_out_sub_2_q4,transfer_3_q4,transfer_4_q4,balance_cost_q4,over_price_q4,accrual_amount_q4,residual_value_q4,technical_condition_q4,years_holding_q4,years_before_q4
0,04-01-01-00-00-002,"Административное (пристройка), 675000, Российс...",1993,09.01.2016,1096.4,1096.4,1096.4,0.0,0.0,0.0,...,0,0.0,0,12267276.41,4351350.84,3024908.25,9.242368e+06,Удовлетворительное,28,5
1,04-07-01-00-00-003,"Помещение объект № 2 (Вспомогательный), 675000...",1980,09.01.2016,217.7,217.7,217.7,0.0,0.0,0.0,...,0,0.0,0,1638812.21,937438.23,704575.55,9.342367e+05,Удовлетворительное,41,5
2,04-05-09-00-00-017,"Гараж, 676450, Российская Федерация, Амурская ...",1985,09.01.2016,233.4,233.4,0.0,0.0,0.0,0.0,...,0,233.4,0,349073.04,229992.75,198668.61,1.504044e+05,Удовлетворительное,36,5
3,04-05-01-00-00-018,"Гараж, 675000, Российская Федерация, Амурская ...",1949,09.01.2016,643.0,643.0,643.0,0.0,0.0,0.0,...,0,0.0,0,3707972.77,6606.13,2133885.24,1.574088e+06,Удовлетворительное,72,5
4,04-02-01-00-00-021,"КВАРТИРА, 675000, Российская Федерация, Амурск...",1995,09.01.2016,318.2,318.2,318.2,0.0,0.0,0.0,...,0,0.0,0,542900.00,103643.44,173264.46,3.696355e+05,Удовлетворительное,26,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,79-04-01-00-00-041,резервное электроснабжение зданий ГУ ЦБ РФ по ...,1995,09.01.2016,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,510303.18,206785.79,510303.18,1.660839e+08,Удовлетворительное,26,5
374,79-04-01-00-00-042,"пристройка к ТП № 2, 689000, Чукотский автоном...",1995,09.01.2016,22.9,22.9,22.9,0.0,0.0,0.0,...,0,0.0,0,850482.96,344633.94,375913.32,4.745696e+05,Хорошее,26,5
375,79-01-01-00-01-043,"Здание РКЦ, 689450, Чукотский автономный округ...",1987,09.01.2016,476.2,546.3,476.2,0.0,0.0,0.0,...,0,0.0,0,10539914.74,9526978.74,3416036.20,7.123879e+06,Хорошее,34,5
376,79-05-01-00-01-044,"Помещение гаража Здания РКЦ, 689450, Чукотский...",1987,09.01.2016,70.1,546.3,70.1,0.0,0.0,0.0,...,0,0.0,0,10539914.74,9526978.74,3416036.20,7.123879e+06,Хорошее,34,5
377,79-04-03-00-02-045,"пункт резервного энергоснабжения, 689100, Чуко...",1997,09.01.2016,46.1,90.0,0.0,46.1,0.0,0.0,...,0,0.0,0,3167024.29,78402.86,921368.22,2.245656e+06,Хорошее,24,5

In [28]:
newq1q2q3q4.to_excel(f"out_q2y_{Q_YEAR}.xlsx", index=False)